#highScoresList {
    list-style: none;
    list-style-type:decimal;
    padding-left: 0;
    margin-bottom: 4rem;
    color: rgb(182, 112, 182);
  }
  
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
  
  .high-score:hover {
    transform: scale(1.025);
  }


table {
    margin-left: 30px;
    margin-right: 30px;
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
    border: violet;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(
      to bottom,
      #ca8dd2,
      #d9a4d8,
      #e6bbe0,
      #f0d3e9,
      #f8ecf4
    ); */
  }
  
  th,
  td {
    padding: 15px;
    color: #9567aa;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);

  }
  
  th {
    text-align: center;
  }
  
  thead th {
    background-color: #e2c0f7;
    width: 150px;
  }
  
  tbody tr:hover {
    background-color: rgba(244, 212, 247, 0.8);
  }
  
  tbody td {
    position: relative;
  }